{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WSP ORDERS{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/input.css" %}" rel="stylesheet">
</head>
  
 <body>

  

  
  <header class="fixed w-full z-50">
    <nav class=" shadow flex justify-around  w-full bg-principal text-white  lg:pr-4 lg:justify-start items-center">
        <a class="cursor-pointer  ">
            <span class="sr-only">Menu</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="size-7">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </a>

        <a class="lg:w-2/5 flex items-center" href="/">
            <!-- <p class="h-12 align-middle p-2 flex items-center font-bold tracking-widest text-2xl">WSP ORDERS</p> -->
            <img src="{% static "img/logo.png" %}" alt="Carnicería Pablito" class="h-13 p-2  align-middle ">
        </a>


        <a class="cursor-pointer" href="{% url "cart:cart_detail" %}">
            <div class="relative">
                <span class="sr-only">Cart</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
                <span class="absolute -bottom-1 -right-1.5 bg-white text-principal text-xs rounded-full w-4 h-4 flex items-center justify-center">
                  {% with total_items=cart|length %}
                  {% if total_items > 0 %}
                    {{ total_items }}
                  {% elif not order %}
                    0
                  {% endif %}
                {% endwith %}
                </span>
            </div>
        </a>
        

    </nav>
</header>

    {% if not store_open  %}
      <div class="fixed inset-0 bg-black bg-opacity-70 z-50 flex items-center justify-center">
        <div class="bg-white p-8 shadow-xl h-full w-full text-center flex flex-col justify-center items-center gap-30">
            <div class="max-w-sm">
              <img src="{% static "img/logo.png" %}" alt="Carnicería Pablito" class="aspect-375/208 p-2  align-middle ">
            </div>
            <div>
              <h2 class="text-2xl font-bold text-gray-800 mb-2">Tienda Cerrada</h2>
              <p class="text-gray-600 mb-6">{{ closed_reason }}</p>
              
              {% if not manual_override %}
              <div class="border-t border-gray-200 pt-4">
                <h3 class="font-semibold text-gray-700 mb-2">Horarios de Atención:</h3>
                <p class="text-gray-600">Lunes a Sábado: 8:00 AM - 5:00 PM</p>
                <p class="text-gray-600">Domingos: 8:00 AM - 4:00 PM</p>
              </div>
              {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <div id="content" class="{% if not store_open and request.path != '/dashboard/'  %}pointer-events-none opacity-20{% endif %}">
      {% block content %}{% endblock %}
    </div>
 </body>
</html>