{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WSP ORDERS{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/input.css" %}" rel="stylesheet">
</head>
  
 <body>
  
  <header class="fixed w-full z-50">
    <nav class=" shadow flex justify-around  w-full bg-principal text-white  lg:pr-4 lg:justify-start items-center">
        <a class="cursor-pointer  ">
            <span class="sr-only">Menu</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="size-7">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </a>

        <a class="lg:w-2/5 flex items-center" href="/">
            <p class="h-12 align-middle p-2 flex items-center font-bold tracking-widest text-2xl">WSP ORDERS</p>
        </a>


        <a class="cursor-pointer" href="{% url "cart:cart_detail" %}">
            <div class="relative">
                <span class="sr-only">Cart</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
                <span class="absolute -bottom-1 -right-1.5 bg-white text-principal text-xs rounded-full w-4 h-4 flex items-center justify-center">
                  {% with total_items=cart|length %}
                  {% if total_items > 0 %}
                    {{ total_items }}
                  {% elif not order %}
                    0
                  {% endif %}
                {% endwith %}
                </span>
            </div>
        </a>
        

    </nav>
</header>
  <body>
   <div id="content" class="">
     {% block content %}
     {% endblock %}
   </div>
 </body>
</html>